body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.47),rgba(0, 0, 0, 0.634)),url(./Images/main_1.jpg);
    background-blend-mode: darken;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo{
    width: 25%;
    padding: 15px 20px;
}

#logo img{
    width: 65%;
}

#nav-ul{
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#nav-ul li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

#nav-ul li a {
    text-decoration: none;
    color: beige;
}

#nav-r{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

#nav-r i{
    color: beige;
    font-size: 18px;
}

/* .................... */

#main-con{
    height: 75vh;
   display: flex;
   flex-direction: row;
}

#left{
    height: 90vh;
width: 10%;
}


#left ul{
    transform: rotate(270deg);
    height: 85vh;
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
}

#extras-ul li{
    padding: 0px 75px;
    list-style: none;
    color: beige;
    font-family: 'Poppins', sans-serif;

}

#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
#h-main{
 color: beige;
 font-size: 35px;
 width: 90%;
 text-transform: uppercase;
 line-height: 46px;
 font-family: 'Noto Sans', sans-serif;
}

#p-main{
    color: beige;
    width: 90%;
    font-size: 17.8px;
    line-height: 25px;
    font-family: 'Mukta', sans-serif;
}

#btn-main{
    margin-top: 12px;
    width: 30%;
    padding:9px 10px;
    background-color: beige;
    color: black;
    border: 2px solid beige;
    font-family: 'Poppins', sans-serif;
}

#right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#btn-class{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#btn-class button{
padding: 12px 10px;
}

